:root {
    --white: white;
    --bege: #ece6d0;
    --pink: #f0cdf4;
    --vinho: #27030f;
    --black: black;
}

nav {
    font-family: "Lugrasimo", cursive;
    background-color: rgba(0, 0, 0, 0.425);
}
nav li {
    font-family: "Cantata One", serif;
}
.nav-item  .nav-link{
    color: white;
}

.nav-item  .nav-link:hover {
    color: var(--pink);
}
.nav-item  .nav-link:focus {
    color: var(--pink);
}
#wrapper {
    background-image: url(https://images.squarespace-cdn.com/content/v1/62bdac5c973f1e71adeb91a3/1656597598098-9F1P7J8ZXDMFFHGBFOO8/Stocksy_comp_2303625+copy.jpg?format=2500w);
    background-size: cover;
    height: 100vh;
}

#wrapper h1 {
    font-family: "Lugrasimo", cursive;
}

#content {
    background-color: var(--bege);
}
#content h2 {
    font-family: "Lugrasimo", cursive;
}
#content p {
    font-family: "Cantata One", serif;
}

#content img {
    width: 500px;
    height: 700px;
    border-radius: 80% 30%;
}

#image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#partners {
    background-color: var(--vinho);
    font-family: "Lugrasimo", cursive;
    height: 50vh;
    display: flex;
    align-items: center;
}

#partners img {
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.315);
}

#place {
    background-image: url(https://images.squarespace-cdn.com/content/v1/62bdac5c973f1e71adeb91a3/1656597598229-2K285C2XWV7EQNEM7Q7U/Stocksy_comp_2303637.jpg?format=2500w);
    background-size: cover;
    height: 70vh;
    font-family: "Lugrasimo", cursive;
}

#location {
    background-color: var(--bege);
}
#location h1 {
    font-family: "Lugrasimo", cursive;
}
#location h2, p {
    font-family: "Cantata One", serif;
}
#location img {
    width: 500px;
    height: 700px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.315);
}

.accordion-item {
    background-color: var(--bege) !important;
}
.accordion-item button { 
    background-color: var(--bege);
    border-top: 2px solid rgba(0, 0, 0, 0.562);
}
.accordion-item button:focus {
    background-color: var(--bege);
    color: var(--black);
    border-color: none; /* muda a cor da borda */
    box-shadow: none;
}
.accordion-item button:not(.collapsed) {
    background-color: var(--bege);
    color: var(--black);
}
.accordion-button:not(.collapsed) {
    background-color: black;
}

#form {
    background-color: var(--vinho);
    
}
.btn-custom {
    background-color: var(--pink);
    padding: 5px;
    border: 1px solid var(--vinho);
    font-family: "Cantata One", serif;
    border-radius: 5px;
}

.btn-custom:hover {
    background-color: var(--vinho);
    border-color: var(--pink);
    color: var(--pink);
}

.label-custom {
    color: gray;
}

#galery {
    background-color: var(--vinho);
}

#galery img{
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.315);
    width: 300px;
}

footer {
    background-color: var(--vinho);
    font-family: "Cantata One", serif;;
}


/* MEDIA QUERIES */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    #content img{
        width: 300px;
        height: 300px;
    }

    #content h2 {
        margin-top: 20px;
        text-align: center;
    }

    #content p {
        text-align: justify;
    }

    #partners h2 {
       margin-top: 20px;
       text-align: center;
    }
    #location img {
        width: 300px;
        height: 400px;
    }

    #location h1 {
        margin-top: 20px;
    }

    #galery img {
        margin-bottom: 20px;
    }

}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

}

/*Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
    

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {
    #galery img {
        width: 250px;
    }

    #partners img {
        width: 400px;
    }
}